{% extends "home.html" %}
{% load static %}

{% block search_form %}
    <form method="GET" action="{% url 'discoverers' %}" class="search-form">
        <input type="text" name="discovererName" placeholder="Введите имя исследователя..." value="{{ request.GET.q }}">
        <button type="submit">Поиск</button>
    </form>
{% endblock %}

{% block content %}
<section class="card-container">
    {% if discoverers %}
        {% for discoverer in discoverers %}
        <div class="card">
            <div class="card-header">ИССЛЕДОВАТЕЛЬ</div>
            <img src="{{ discoverer.image_url }}" alt="{{ discoverer.name }}" class="card-image">
            <div class="card-name">
                <h3>{{ discoverer.name }}</h3>
            </div>
            <div class="card-description">
                <h4>Годы жизни:</h4>
                <p>{{ discoverer.years_of_life }}</p>
            </div>
            <div class="card-footer">
                <form method="post" action="{% url 'add_service_to_request' %}">
                    {% csrf_token %}
                    <input type="hidden" name="service_id" value="{{ discoverer.id }}">
                    <button type="submit">Добавить в заявку</button>
                </form> 
                   
                <a href="{% url 'discoverer_detail' discoverer.id %}">
                    <button>Подробнее</button>
                </a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>По вашему запросу ничего не найдено.</p>
    {% endif %}
</section>
{% endblock %}
