{% extends "home.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/information.css' %}">


<section class="discoverer-detail">
    <div class="header">
        <div class="header-wrapper">
            <h1>{{ discoverer.name }}</h1>
            <a href="{% url 'discovery_view' discoverer.id %}" class="cart-icon">
                <img src="http://localhost:9000/geogistory/cart-icon.png" alt="Корзина">
            </a>
            
        </div>
    </div>
    <img src="{{ discoverer.image_url }}" alt="{{ discoverer.name }}" class="discoverer-image">
    <div class="discoverer-description">
        <p>{{ discoverer.details }}</p>
    </div>
    <div class="discoverer-long-description">
        {{ discoverer.long_description|safe }}  <!-- Позволяем вывод HTML-тегов -->
    </div>
    
</section>
{% endblock %}
