{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Заявка №{{ order.id }}</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="home-button">Домой</a>
    </header>

    {% if order %}
        
        <ul>
            {% for service in services %}
                <li>
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ service.explorer.image_url }}" alt="{{ service.explorer.name }}" width="200">
                        </div>
                        <div class="card-content">
                            <h2>{{ service.explorer.name }}</h2>
                            <div class="discoveries">
                                <span>Открытия:</span>
                                <select class="list" disabled>
                                    {% if service.explorer.major_discovery %}
                                        <option value="{{ service.explorer.major_discovery }}">{{ service.explorer.major_discovery }}</option>
                                    {% else %}
                                        <option>Нет данных</option>
                                    {% endif %}
                                </select>
                            </div>
                            <p><strong>Описание:</strong> {{ service.explorer.bio }}</p>
                            <p><strong>Годы жизни:</strong> {{ service.explorer.years_of_life }}</p>
                            <p><strong>Национальность:</strong> {{ service.explorer.nationality }}</p>
                            <p><strong>Основное открытие:</strong> {{ service.explorer.major_discovery }}</p>
                            
                            {% if service.is_primary %}
                                <span class="oval-badge">Капитан</span>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <form method="post" action="{% url 'delete_request' %}">
            {% csrf_token %}
            <button type="submit">Удалить заявку</button>
        </form>
    {% else %}
        <p>Заявка не найдена.</p>
    {% endif %}

</body>
</html>
